body {
    text-align: center;
}

#weatherContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#weather {
    border: solid;
    width: 200px;
    border-radius: 10px;
}

